.appBarBox {
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 0 16px;

  > a {

    > button {
      color: white;
      padding: 8px 16px;
    }
  }
}

.boxContainer {

}


.container {
  display: block;
  padding: 20px 20%;
  height: 100%;
  width: 100%;

  > Button {
    margin-bottom: 16px;
  }

}

.tableActions {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > span {
    flex: 1;
  }
}

.adminContainer {
  form {
    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 15px 30px;
      box-shadow: none !important;


      &:nth-last-of-type(1) {
        flex-direction: row;
      }
    }
  }
}


.MuiButtonGroup-root {
  padding: 0 16px 16px;
}
